@font-face {
  font-family: 'Retro';
  src: url('FreePixel.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Retro', cursive;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  height: 100vh;
  color: white;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}
#time {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #ffeb3b;
}

h1 {
  margin-bottom: 4rem;
}

h2 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
#focus {
  margin-top: 0.5em;
}
.hidden {
  display: none !important;
}

.quote-section {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 2em;
  cursor: pointer;
  opacity: 0.8;
  font-size: 16px;
}
.transparent {
  background: #1b1b1ba6;
  border-radius: 8px;
  padding: 10px 0px;
  color: #ff9800;
}
#quote-author {
  margin-top: 10px;
  transition: all 0.35s ease;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  opacity: 0;
}

#quote:hover ~ #quote-author {
  opacity: 1;
}
.search {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 230px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.search-icon {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 7px;
  line-height: 57px;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.search-input {
  position: absolute;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  z-index: 2;
  left: 10px;
  top: 0;
  padding-left: 30px;
  padding-bottom: 2px;
  height: 30px;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  color: #fff;
  font-family: 'Retro', cursive;
}

.search-icon input[type='search'] {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type='search']:focus {
  outline: 0;
  border-bottom: 1px solid #fff;
  cursor: text;
}

#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}

@media screen and (max-width: 700px) {
  #time {
    font-size: 3rem;
  }
  s h1 {
    font-size: 22px;
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }
}

@media screen and (max-width: 560px) {
  #time {
    font-size: 3rem;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: 15px;
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }
  .quote-section {
    position: absolute;
    bottom: 22px;
    width: 90%;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
  }
}
