*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Press Start 2P', cursive;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    height: 100vh;
    color: white;

}

#container{
    width: 100%;
  height: 100vh;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#time{
    font-size: 4rem;
    margin-bottom: 2rem;
}

h1{
    margin-bottom:5rem;
}
h2{
    font-size: 20px;
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media screen and (max-width: 700px){
    #time{
        font-size:2rem;
    }
    h1{
        font-size: 22px;
        margin-bottom:4rem;
    }
    h2{
        font-size: 16px;
        margin-bottom: 0.5rem;
        opacity: 0.6;
    }
}

@media screen and (max-width: 560px){
    #time{
        font-size:1.5rem;
    }
    h1{
        font-size: 18px;
        margin-bottom:3rem;
    }
    h2{
        font-size: 12px;
        margin-bottom: 0.5rem;
        opacity: 0.6;
    }
}